MEDUSA_ADMIN_ONBOARDING_TYPE=default
ADMIN_AUTH_TYPE=jwt
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com
REDIS_URL=redis://<host>:6379/0
CACHE_REDIS_URL=redis://<host>:6379/1
LOCKING_REDIS_URL=redis://<host>:6379/2
JWT_SECRET=replaceme
COOKIE_SECRET=replaceme
DATABASE_URL=postgresql://medusa:<password>@<host>:5432/medusa_data

AUTHENTIK_CLIENT_ID=
AUTHENTIK_CLIENT_SECRET=
AUTHENTIK_REDIRECT_URI=
AUTHENTIK_TOKEN_URI=
AUTHENTIK_AUTHORIZE_URI=
AUTHENTIK_USERINFO_URI=
