# This file is used for the Medusa backed application

# ===== MEDUSA BACKEND =====
MEDUSA_ADMIN_ONBOARDING_TYPE=default
ADMIN_AUTH_TYPE=jwt
STORE_CORS=http://localhost:8000,https://docs.medusajs.com,http://192.168.122.89:9000
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com,http://192.168.122.89:9000
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:8000,https://docs.medusajs.com,http://192.168.122.89:9000
REDIS_URL=redis://localhost:6379/0
CACHE_REDIS_URL=redis://localhost:6379/1
LOCKING_REDIS_URL=redis://localhost:6379/2
JWT_SECRET=55FxwQW9aBVGSS6JmmJHqKeBV
COOKIE_SECRET=ngHLc4HE6zyBQfdkNGk4w8uaY
DATABASE_URL=postgresql://medusa:Awkward-Struggle-Sort-Bare-8@localhost:5432/medusa_data

AUTHENTIK_CLIENT_ID=replaceme
AUTHENTIK_CLIENT_SECRET=replaceme
AUTHENTIK_REDIRECT_URI=replaceme
AUTHENTIK_TOKEN_URI=replaceme
AUTHENTIK_AUTHORIZE_URI=replaceme
AUTHENTIK_USERINFO_URI=replaceme
